[credential]
	helper = osxkeychain
[user]
	name = Andrew
	email = andrewbg8@gmail.com
[http]
	postBuffer = 524288000
	bufferSize = 512m

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true
    side-by-side = true

[merge]
    conflictStyle = zdiff3
